## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries for Data Science  
- Create and format Markdown cells in Jupyter Notebook  
- Perform simple arithmetic operations in Python  
- List common Data Science tools

Some of the popular languages that Data Scientists use are:
(Python ,R ,SQL)

Some of the commonly used libraries used by Data Scientists include:
(Pandas , ggplot , matplotlib , seaborn )

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Felopater Said